.yt_clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.yt_clearfix {
	display: inline-block;
}

html[xmlns] .yt_clearfix {
	display: block;
}

* html .yt_clearfix {
	height: 1%;
}

div.yt_megaii {
}

div.yt_megaii a {
	cursor: pointer;
}
div.yt_megaii a:hover{
	text-decoration:none;
}
div.yt_module_inner {
	width: 100%;
}

div.yt_section_wrap {
	width: 100%;
	clear: both;
	margin:0 0 10px 0;
}

div.yt_section_inner {
	width: 100%;
	display: block;
	overflow: hidden;
}

div.yt_section_header {
	margin: 0;
	padding: 0;
}

div.yt_section_title {
	
}

div.yt_section_title a.yt_section_title {
	float: left;
}

div.yt_section_title span.yt_section_title {
	float: left;
	line-height: 20px;
	padding: 16px 0 4px;
	display: block;
}

div.yt_section_title a.yt_section_state {
	float: right;
	font-weight: bold;
	text-decoration: none;
}

div.yt_section_title a.yt_section_state span {
	margin: 20px 8px 4px;
	width: 16px;
	height: 16px;
	display: block;
	background: url(expand.png) no-repeat;
	background-position: center bottom;
}

div.yt_section_title a.yt_section_state.expanded span {	
	background-position: top center;
}


/* box */
div.yt_section_header_left {
	padding: 0 0 0 7px;
	background-position: top left;
	background-repeat: no-repeat;
}

div.yt_section_header_right {
	padding: 0 7px 0 0;
	background-position: top right;
	background-repeat: no-repeat;
}

div.yt_section_header_center {
	padding: 0 7px;
	background-position: top center;
	background-repeat: repeat-x;
	height: 42px;
}

div.yt_section_content_left {
	padding: 0 0 0 7px;
	background-position: top left;
	background-repeat: repeat-y;
}

div.yt_section_content_right {
	padding: 0 7px 0 0;
	background-position: top right;
	background-repeat: repeat-y;
}

div.yt_section_content_center {
	padding: 0 7px;
	background-position: center center;
	background-repeat: repeat;
}

div.yt_box_foot_left {
	padding: 0 0 0 7px;
	background-position: bottom left;
	background-repeat: no-repeat;
}

div.yt_box_foot_right {
	padding: 0 7px 0 0;
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.yt_box_foot_center {
	padding: 0 0 7px 0;
	background-position: bottom center;
	background-repeat: repeat-x;
	height: 0px;
}

div.yt_categories_wrap {
	overflow: hidden;	
	padding: 0;
}
div.__hideall div.yt_item_wrap,
div.__hideall div.yt_first_item{
	*visibility: hidden;
}

div.yt_category_wrap{
	padding: 10px 0;
}

div.yt_row_separator {
	display: block;
	clear: both;
	line-height: 1px;
	height: 1px;
	background: url("dot.png") repeat-x scroll left top;
	margin: 10px 0 0 0;
}

div.yt_category_title {
	margin: 8px 0;
	padding: 0;
}

div.yt_category_title a {
	padding: 0 12px 0 0;
	margin: 0;
	float: left;
	background: url(category.png) right center no-repeat;
}

div.yt_category_title span {
	
}

div.yt_item_image,
div.yt_item_title,
div.yt_item_description,
div.yt_item_info
{
	margin: 15px 0 0 0;
}

div.yt_item_image {
	position: relative;
}
div.yt_item_image a.yt_item_image_link{
	float: left;
	border: 0;
	display: block;
}
div.yt_item_image img{
	display: block;
}

div.yt_item_info>div {	
	float: left;
}
div.yt_item_info>div.odd,
div.yt_item_info>div.even {	
	border: none;
	background-image: none;
	white-space: nowrap;
}

div.yt_item_readmore a {
	padding: 0 0 0 18px;
	background: url(readmore.png) left center no-repeat;
	line-height: 16px;
}

div.yt_item_comment span {
	padding: 0 0 0 18px;
	background: url(comment.png) left center no-repeat;
	line-height: 16px;
}

div.yt_item_nb_view span{
	padding: 0 0 0 18px;
	background: url(read.png) left center no-repeat;
	line-height: 16px;
}

div.yt_item_created span{
	padding: 0 0 0 18px;
	background: url(time.png) left center no-repeat;
	line-height: 16px;
}

div.yt_list_others {
	margin: 10px 0 0 0;
}

div.yt_list_others>span {
	clear: right;
}

div.yt_list_others>ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.yt_list_others>ul>li {
	padding: 0 0 0 12px;
	background: url(other.png) 0 50% no-repeat;
}

div.yt_categories_nav {
	
}

div.yt_categories_nav ul.yt_categories_nav {
	padding: 0;
	margin: 0;
	list-style: none;
}

div.yt_categories_nav ul.yt_categories_nav li {
	float: left;
	padding: 0 0 0 10px;
	margin: 3px 0 0 0;
	cursor: pointer;
	background: none;
}

div.yt_categories_nav ul.yt_categories_nav div {
	margin: 0;
	padding: 0 10px 0 0;
}

div.yt_categories_nav ul.yt_categories_nav span {
	line-height: 23px;
	height: 23px;
	display: block;
}

div.yt_categories_nav ul.yt_categories_nav li.selected {
	background: url(btn_left.png) left center no-repeat;
}

div.yt_categories_nav ul.yt_categories_nav li.selected>div {
	background: url(btn_right.png) right center no-repeat;
}

div.yt_category_wrap {
	display: none;
}

div.yt_category_wrap.selected {
	display: block;
}

/* browser button */
div.yt_browsers {
	margin: 10px 0 0 0;
}
div.yt_browsers div.btn {
	float: right;
	padding: 0 0 0 10px;
	margin: 10px 0 0 5px;
	cursor: pointer;
	background: url(btn_browser_l.png) left center no-repeat;
}
div.yt_browsers div.btn >a {
	margin: 0;
	padding: 0 10px 0 0;
	background: url(btn_browser_r.png) right center no-repeat;
	float: left;
	display: block;
}
div.yt_browsers div.btn >a >span {
	line-height: 22px;
	height: 22px;
	display: block;
	white-space: nowrap;
}

.theme1 div.yt_section_header_left {
	background-image: url(box1/box_tl.png);
}

.theme1 div.yt_section_header_right {
	background-image: url(box1/box_tr.png);
}

.theme1 div.yt_section_header_center {
	background-image: url(box1/box_tc.png);
}

.theme1 div.yt_section_content_left {
	background-image: url(box1/box_ml.png);
}

.theme1 div.yt_section_content_right {
	background-image: url(box1/box_mr.png);
}

.theme1 div.yt_section_content_center {
	background-image: url(box1/box_mc.png);
}

.theme1 div.yt_box_foot_left {
	background-image: url(box1/box_fl.png);
}

.theme1 div.yt_box_foot_right {
	background-image: url(box1/box_fr.png);
}

.theme1 div.yt_box_foot_center {
	background-image: url(box1/box_fc.png);
}

.theme1 div.yt_categories_wrap{
	background: url(dot_bf.png) top left repeat-x;
}
.theme1 div.yt_category_wrap {
	display: block;
	float: left;	
}

.theme1 div.yt_category_inner {
	margin: 0 5px;
}

.theme1 .firstcol>div.yt_category_inner {
	margin: 0 10px 0 0;
}

.theme1 .lastcol>div.yt_category_inner {
	margin: 0 0 0 10px;
}
.theme1 div.yt_item_image > div.yt_item_title{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 4px 0;
	margin: 0;
	width: 100%;
	background: url(trans-bg.png);
	
}
.theme1 div.yt_item_image > div.yt_item_title > a{
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

.theme1 div.yt_item_image > div.yt_item_title span{
	padding: 0 5px;
	display: block;
	line-height: normal;
}

.theme1 div.yt_item_info .odd{
	float: left;
	margin: 0 10px 0 0;
}

.theme1 div.yt_item_info .even{
	float: left;
	clear: right;
	background: url(hs.png) left top no-repeat;
}
.theme1 div.yt_item_info .even span{
	line-height: 16px;
	display: block;
}

.theme2 div.yt_section_title span.yt_section_title{
	padding: 12px 0 8px 0;
}

.theme2 div.yt_section_header_left {
	background-image: url(box2/box_tl.png);
}

.theme2 div.yt_section_header_right {
	background-image: url(box2/box_tr.png);
}

.theme2 div.yt_section_header_center {
	background-image: url(box2/box_tc.png);	
}

.theme2 div.yt_section_content_left {
	background-image: url(box2/box_ml.png);
}

.theme2 div.yt_section_content_right {
	background-image: url(box2/box_mr.png);
}

.theme2 div.yt_section_content_center {
	background-image: url(box2/box_mc.png);
}

.theme2 div.yt_box_foot_left {
	background-image: url(box2/box_fl.png);
}

.theme2 div.yt_box_foot_right {
	background-image: url(box2/box_fr.png);
}

.theme2 div.yt_box_foot_center {
	background-image: url(box2/box_fc.png);
}

.theme2 div.yt_categories_wrap {
	background: none;;
}

.theme2 div.yt_item_wrap {
	display: block;
	float: left;
}

.theme2 div.yt_item_inner {
	margin: 0 5px;
}

.theme2 .firstcol>div.yt_item_inner {
	margin: 0 10px 0 0;
}

.theme2 .lastcol>div.yt_item_inner {
	margin: 0 0 0 10px;
}

.theme2 div.yt_item_info .odd,
.theme2 div.yt_item_info .even{
	float: left;	
	width: 45%;
	margin: 5px 0;	
	line-height: 16px;	
}
.theme2 div.yt_item_info .odd{
	padding: 0;
}

.theme2 div.yt_item_info .even{
	background: url(hs.png) left top no-repeat;
	padding: 0 0 0 10px;
}

.theme2 div.yt_item_info .even> span{
	line-height: 16px;
	display: block;
}


.theme3 div.yt_section_header_left {
	background-image: url(box34/box_tl.png);
}

.theme3 div.yt_section_header_right {
	background-image: url(box34/box_tr.png);
}

.theme3 div.yt_section_header_center {
	background-image: url(box34/box_tc.png);
}

.theme3 div.yt_section_content_left {
	background-image: url(box34/box_ml.png);
}

.theme3 div.yt_section_content_right {
	background-image: url(box34/box_mr.png);
}

.theme3 div.yt_section_content_center {
	background-image: url(box34/box_mc.png);
}

.theme3 div.yt_box_foot_left {
	background-image: url(box34/box_fl.png);
}

.theme3 div.yt_box_foot_right {
	background-image: url(box34/box_fr.png);
}

.theme3 div.yt_box_foot_center {
	background-image: url(box34/box_fc.png);
}
.theme3 div.yt_section_title{
	height: 40px;
	overflow: hidden;
}
.theme3 div.yt_categories_nav{
	float: left;	
}
.theme3 div.yt_categories_nav ul.yt_categories_nav {
	padding: 0 0 0 20px;
	list-style: none;	
}

.theme3 div.yt_categories_nav ul.yt_categories_nav li {
	padding: 0 0 0 10px;
	margin: 11px 0 0 0;
}

.theme3 div.yt_categories_nav ul.yt_categories_nav div {
	margin: 0;
	padding: 0 10px 0 0;
}

.theme3 div.yt_categories_nav ul.yt_categories_nav span {
	line-height: 20px;
	height: 20px;
	display: block;
}

.theme3 div.yt_categories_nav ul.yt_categories_nav li.selected {
	background: url(btn_nav3_l.png) left center no-repeat;
}

.theme3 div.yt_categories_nav ul.yt_categories_nav li.selected>div {
	background: url(btn_nav3_r.png) right center no-repeat;
}
.theme3 div.yt_category_inner{
	background: url(divider.png) 55% top repeat-y;
}
.theme3 div.yt_first_item{
	float: left;
	width: 55%;
	margin: 5px 0 0 0;
}
.theme3 div.yt_first_item div.yt_item_image{
	float: left;
	border: solid 2px #d3dfed;
	padding: 1px;
	margin: 0 10px 0 0;
}
.theme3 div.yt_first_item div.yt_item_title,
.theme3 div.yt_first_item div.yt_item_description,
.theme3 div.yt_first_item div.yt_item_info{
	padding: 0 10px 0 0;
}

.theme3 div.yt_first_item div.yt_item_info div.yt_item_created,
.theme3 div.yt_first_item div.yt_item_info div.yt_item_comment,
.theme3 div.yt_first_item div.yt_item_info div.yt_item_nb_view,
.theme3 div.yt_first_item div.yt_item_info div.yt_item_readmore
{
	clear: right;
	float: none;
	width: auto;
}

.theme3 div.yt_list_others{
	margin: 5px 0 0 0;
	float: left;	
	width: 45%;
	*width: 44%;	
}
.theme3 div.yt_list_others>ul {
	padding: 0 0 0 10px;
}
.theme3 div.yt_list_others>ul>li {
	padding: 0 0 0 10px;
	background: url(other3.png) 0 3px no-repeat;
	line-height: 15px;
}


.theme4 div.yt_section_header_left {
	background-image: url(box34/box_tl.png);
}

.theme4 div.yt_section_header_right {
	background-image: url(box34/box_tr.png);
}

.theme4 div.yt_section_header_center {
	background-image: url(box34/box_tc.png);
}

.theme4 div.yt_section_content_left {
	background-image: url(box34/box_ml.png);
}

.theme4 div.yt_section_content_right {
	background-image: url(box34/box_mr.png);
}

.theme4 div.yt_section_content_center {
	background-image: url(box34/box_mc.png);
}

.theme4 div.yt_box_foot_left {
	background-image: url(box34/box_fl.png);
}

.theme4 div.yt_box_foot_right {
	background-image: url(box34/box_fr.png);
}

.theme4 div.yt_box_foot_center {
	background-image: url(box34/box_fc.png);
}

.theme4 div.yt_nav_content{
	
}
.theme4 div.yt_nav_content_left {
	padding: 0 0 0 10px;
	background-position: bottom left;
	background-repeat: no-repeat;
	background-image: url(nav_content_l.png);
}

.theme4 div.yt_nav_content_right {
	padding: 0 10px 0 0;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-image: url(nav_content_r.png);
}

.theme4 div.yt_nav_content_center {
	padding: 0;
	background-position: bottom center;
	background-repeat: repeat-x;
	background-image: url(nav_content_c.png);
	height: 32px;
	overflow: hidden;
}

.theme4 span.pre_categories_nav{
	float: left;
	padding: 0 10px;
	line-height: 32px;
	height: 32px;
}

.theme4 div.yt_categories_nav ul.yt_categories_nav {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 32px;
	overflow: hidden;
}

.theme4 div.yt_categories_nav ul.yt_categories_nav li {
	float: left;
	padding: 0 0 0 8px;
	margin: 4px 0 0 0;
	height: 24px;
	cursor: pointer;
	background: url(btn_nav4.png);
	background-position: 0 -48px;
	background-repeat: no-repeat;
}

.theme4 div.yt_categories_nav ul.yt_categories_nav div {
	margin: 0 5px 0 0;
	padding: 0 8px 0 0;
	background: url(btn_nav4.png);
	background-position: 100% 0;
	background-repeat: no-repeat;
}

.theme4 div.yt_categories_nav ul.yt_categories_nav div > span {
	line-height: 24px;
	height: 24px;	
	display: block;
}

.theme4 div.yt_categories_nav ul.yt_categories_nav li.selected {
	background: url(btn_nav4.png);
	background-position: 0 -72px;
}

.theme4 div.yt_categories_nav ul.yt_categories_nav li.selected>div {
	background: url(btn_nav4.png);
	background-position: 100% -24px;
}

.theme4 div.yt_item_wrap{
	float: left;
}
.theme4 div.yt_item_wrap.firstcol{
}

.theme4 div.yt_item_inner {
	padding: 0 0 15px 10px;
	background: url(divider.png) left top repeat-y;
}

.theme4 .firstcol>div.yt_item_inner {
	padding: 0;
	background: none;
}

.theme4 .lastcol>div.yt_item_inner {
}

.theme4 div.yt_item_wrap div.yt_item_image{
	float: left;
	border: solid 1px #d3dfed;
	padding: 2px;
	margin: 0 5px 0 0;
}
.theme4 div.yt_item_wrap div.yt_item_title,
.theme4 div.yt_item_wrap div.yt_item_description,
.theme4 div.yt_item_wrap div.yt_item_info{
	padding: 0 5px 0 0;
}

.theme4 div.yt_item_wrap div.yt_item_info div.yt_item_created,
.theme4 div.yt_item_wrap div.yt_item_info div.yt_item_comment,
.theme4 div.yt_item_wrap div.yt_item_info div.yt_item_nb_view,
.theme4 div.yt_item_wrap div.yt_item_info div.yt_item_readmore
{
	clear: right;
	float: none;
	width: auto;
}
.theme4 div.yt_list_others{
	clear: both;
	margin: 0;
	padding: 10px 0 0 0;
}
.theme4 div.yt_list_others>ul>li {
	padding: 0 0 0 9px;
	background: url(other3.png) 0 3px no-repeat;
}

.theme4 div.yt_browsers div.btn {	
	padding: 0;
	margin: 0 0 0 5px;
	background: none;
}
.theme4 div.yt_browsers div.btn.section{
	border: solid #939393;
	border-width: 0 2px 0 0;
}

.theme4 div.yt_browsers div.btn >a {
	padding: 0 5px 0 0;
	background: none;
}
 
.theme4 div.yt_browsers div.btn >a >span {
	line-height: normal;
	height: auto;
}