
/**************************************************************

	MultiBox
	v1.3

**************************************************************/

.MultiBoxContainer {
	position: absolute;
	border: 20px solid #000;
	background-color: #FFF;
	display: none;
	z-index: 1000;
	text-align: left;
	/*overflow: hidden;*/
}

.MultiBoxLoading {
	background: url(../../images/multibox/loader.gif) no-repeat center;
	z-index: 1000;
}

.MultiBoxContent {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1000;
}

.MultiBoxClose {
	position: absolute;
	top: -26px;
	right: -26px;
	background: url(../../images/multibox/close.png) no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
	z-index: 1000;
}


.MultiBoxControlsContainer {
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 1000;
}

.MultiBoxControls {
	width: 100%;
	height: auto;
	position: relative;
	background-color: #000000;
	z-index: 1000;
}

.MultiBoxPrevious {
	position: absolute;
	background: url(../../images/multibox/left.png) no-repeat;
	width: 24px;
	height: 24px;
	left: 0px;
	margin-top: 5px;
	cursor: pointer;
	z-index: 1000;
}

.MultiBoxNext {
	position: absolute;
	background: url(../../images/multibox/right.png) no-repeat;
	width: 24px;
	height: 24px;
	right: 0px;
	margin-top: 5px;
	cursor: pointer;
	z-index: 1000;
}

.MultiBoxNextDisabled {
	cursor: default;
	background: url(../../images/multibox/rightDisabled.png) no-repeat;
}

.MultiBoxPreviousDisabled {
	cursor: default;
	background: url(../../images/multibox/leftDisabled.png) no-repeat;
}

.MultiBoxTitle {
	position: relative;
	margin: 10px 0 0 35px;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	z-index: 1000;
}

.MultiBoxNumber {
	position: relative;
	width: 50px;
	margin: 10px 35px 0 0;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: right;
	z-index: 1000;
}

.MultiBoxDescription {
	clear: left;
	position: relative;
	margin: 0 35px 0 35px;
	padding-top: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: left;
	z-index: 1000;
}

/*************************************************************/