/*======= BT CONTENT SLIDER ========*/
.bt-cs {
	position: relative;
	text-shadow: 1px 1px #fff ;
	border: none ;
	background-color: #fff;
}

.slides_container {
	overflow: hidden;
	position: relative;
border: none !important;
padding-top: 2px !important;
}
.bt-cs h3 {
	line-height: 30px;
	text-indent: 15px;
	background: url(../images/bg-header.png) repeat-x;
	height: 30px;
	margin: 0 !important;
box-shadow : 0px 1px 1px grey }

/*
	Handles - Next/prev buttons
*/
.bt-cs .next,.bt-cs .prev {
	display: none;
	width: 40px;
	height: 100%;
	top:0;
	opacity:0.7;
}
.bt-cs:hover .next, .bt-cs:hover .prev{
	display:block;

}
.bt-cs .next:hover, .bt-cs .prev:hover{
	opacity:1;
}
.bt-cs a.next {
	background: url(../images/re-right.png) right center no-repeat !important;
	text-indent: -9999px;
	position:absolute;
	z-index:100;
	margin:0;
	padding:0;
	right:0;
}
.bt-cs a.prev {
	background: url(../images/re-left.png) left center no-repeat !important;
	text-indent: -9999px;
	position:absolute;
	z-index:999;
	margin:0;
	padding:0;
	left:0;
}

/*bullet */
.bt-cs .bt_handles {
	position: absolute !important;
	margin:  0 !important;
	padding: 0 !important;
	z-index:101;
}
.bt-cs .bt_handles li {
	float: left;
	margin: 0 1px!important;
	list-style:none;
	padding:0px!important;
	background:none!important;
}
.bt_handles li a {
	display: block !important;
	width: 12px;
	height: 0;
	padding-top: 12px;
	background-image: url(../images/pagination.png);
	background-position: 0 0;
	float: left;
	padding: 12px 0 0 0 !important;
	overflow: hidden;
}
.bt_handles li.current a {
	background-position: 0 -12px;
}

/*numbering */
.bt-cs .bt_handles_num {
	position: absolute !important;
	margin:  0 !important;
	padding: 0 !important;
	z-index:101;
}
.bt-cs .bt_handles_num li {
	float: left;
	margin: 0 1px!important;
	list-style:none;
	padding:0px!important;
	background:none!important;
}
.bt_handles_num li a {
	display: block !important;
	width:12px;
	height:15px;
	line-height:15px;
	background:grey;
	float: left;
	padding:0!important;
	overflow: hidden;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-size:10px;
}
.bt_handles_num li a:hover{
	opacity:0.8;
}
.bt_handles_num li.current a {
	background:orange;
}

/*** CSS STYLE FOR ITEM ****/
.bt-cs .bt-row {
	float: left;
	position: relative;
	overflow: hidden;
	padding: 0px 0;
}
.bt-cs .bt-inner {
	margin: 5px;
	position: relative;
	padding: 5px ;
	border-radius: 1px;
	background-color: #fff;
	box-shadow : 0px 0px 3px grey;
}

.bt-cs :hover {
	box-shadow : 0px 0px 0px grey !important;


}

.bt-cs .bt-inner a 
{
	text-decoration: none;
}



.bt-cs .bt-inner img {
	outline: 1px solid #b5b5b5;
	max-width:99%;
		margin: 1px;

}
.bt-cs .bt-inner .bt-title {
	clear: both;
	color: #45619d;
	font-weight: bold;
	text-transform: uppercase;
	display:inline-block;
}
.bt-cs .bt-inner .bt-category {
	clear: both;
	color: #4a4a4a;
	font-weight: bold;


}
.bt-cs .bt-center{
	text-align:center;
}
.bt-cs .bt-extra {
	clear: both;
}
.bt-cs .bt-date,.bt-cs .bt-author {
	font-weight: normal;
	font-size: 80%;
}
.bt-row-separate {
	clear: both;
	height: 0px;
}
