
.itemComments a,.itemCategory a,
.btn-primary:hover, .btn.btn-primary:hover,
h4 a:hover,.fa-angle-double-right, a:hover .fa-angle-double-right,
.pagination > li > a,.pagination > li > a:hover,
.blog h2 a:hover, a:hover, a:focus,a, ul.latestnews li a:hover,
ul.menu li a:hover, ul.weblinks li a:hover, ul.menu li.active.current a, 
ul.menu li.parent a:hover, ul.menu li.active li.active.curren a,
.btn-link,.btn-link:hover,.page-header h2 a,
.main-tc-menu li.mega-hover > .sub-container.mega > a, 
.main-tc-menu li.mega-hover > .sub-container.mega > a:hover, 
.main-tc-menu .sub-container li.active > a,
.main-tc-menu li.mega-hover > .sub-container.mega > a, 
.main-tc-menu li.mega-hover > .sub-container.mega > a:hover, 
.main-tc-menu .sub-container li.mega-hover > a,
.main-tc-menu .sub-container li.current.active > a,
.active.parent .sub-container li.active > a,
.menutc_nav .current.active > a,
.menutc_nav > .active > a:focus{ color:#ff9900;}

.tc-menu-wrapper > ul.main-tc-menu > li.current > a, 
.menutc_nav > .current.active > a, 
.main-tc-menu > li.mega-hover > a, 
.main-tc-menu > li.mega-hover > a:hover, 
.menutc_nav > .active > a, 
.menutc_nav > .active > a:hover, 
.menutc_nav > .active > a:focus,
.main-tc-menu > li.mega-hover > a, 
.main-tc-menu > li.mega-hover > a:hover, 
.menutc_nav > .current.active > a,
.menutc_nav > .active > a, 
.menutc_nav > .active > a:hover, 
.menutc_nav > .active > a:focus,
.itemCommentsForm #submitCommentButton,
#comment-form .btn.btn-primary:after,.btn.btn-primary:after{ background:#ff9900 !important;}

.tc_wrapper_slider, .ei_slider_thumbs, .tc_wrapper_adverts{ background:#ff9900;}

.btn.btn-primary, #comment-form .btn.btn-primary{ border:1px solid #ff9900;}

