#breakingnews-title{
	float:left;
	padding-top:1px;
}
#breakingnews-title span{
	font-weight:bold;
}
.yt-yttitleflash {
	margin: 0px;
	padding: 0px;
	position: relative;
}

.yt-yttitleflash .sliderwrapper {
	position: relative; /*leave as is*/
	overflow: hidden; /*leave as is*/
	height: 24px !important;
	width: 70%; /*width of featured content slider*/
	float: left;
}

.yt-yttitleflash .sliderwrapper .contentdiv {
	visibility: hidden; /*leave as is*/
	position: absolute; /*leave as is*/
	left: 0;  /*leave as is*/
	top: 0;  /*leave as is*/
	padding: 1px 0 0 13px;
	background: none;
	width: 95%; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
	height: 24px;
}
.yt-yttitleflash .sliderwrapper .contentdiv {
	/*filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);*/
}

.yt-yttitleflash .sliderwrapper .contentdiv span {
	font-size: 100%;
	color:#000000;
}
.yt-yttitleflash .sliderwrapper .contentdiv span.cattitle {
	font-weight: bold;
	text-decoration: underline;
}

.yt-titleflash-pagination {
	margin: 0px;
	padding: 6px;
	text-align: right;
	float: left;
	background: none;
	margin-top:2px;
}
.yt-titleflash-pagination li {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	overflow: hidden;
	background: none;
}
.yt-titleflash-pagination span.title {
	font-family: Arial;
	font-size: 80%;
}
.yt-titleflash-pagination a {
	margin: 5px 0 0 5px;
	padding: 0;
	width: 17px;
	height: 9px;
	line-height: 9px;
	text-align: center;
	float: left;
	display: block;
	color:#000000;
}
.yt-titleflash-time {
	font-size: 80% !important;
	font-style: italic;
}
.yt-titleflash-pagination a.next,
.yt-titleflash-pagination a.next:active {
	background: url(../images/next.png) no-repeat top left;
}
.yt-titleflash-pagination a.next:hover,
.yt-titleflash-pagination a.next:focus{
	background: url(../images/next.png) no-repeat bottom left;
}
.yt-titleflash-pagination a.prev,
.yt-titleflash-pagination a.prev:active{
	background: url(../images/pre.png) no-repeat top left;
}
.yt-titleflash-pagination a.prev:hover,
.yt-titleflash-pagination a.prev:focus {
	background: url(../images/pre.png) no-repeat bottom left;
}
.yt-yttitleflash ul{margin:0;}
.yt-titleflash-pagination { padding: 0 6px }
