.mootabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0 0;
	height: 25px;
	overflow:hidden;
	background:#61a2c0;
	width:100%;
}

.module-tabs {
	width: 100% !important;
}

.mootabs_title li {
	float: left;
	background:url(tab-l.gif) no-repeat top left;
	padding: 0 0 0 10px;
	margin-right: 7px;
	cursor: pointer;
	color: #fff;
	font-family: "Trebuchet MS";
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-top:5px;
}
.mootabs_title li:first-child{
	margin:5px 7px 0 10px
}
#ytTabs .widget-wrap .last-item {
	margin-bottom:11px;
}
.mootabs_title li span{
	background:url(tab-r.gif) no-repeat top right;
	height:20px;
	padding: 1px 10px 0 0;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	display:inline-block;
}
.mootabs_title li.active {
	background:url(tab-active-l.gif) no-repeat top left;
}
.mootabs_title li.active span {
	background:url(tab-active-r.gif) no-repeat top right;
	color:#000000;
}
.mootabs_panel {
	display: none;
	position: relative;
	width: 100%;
	top: 0;
	clear: both;
	overflow:hidden;
}
.yttabs-inner{
	/*padding:10px;*/
	/*border-left:1px solid #CCCCCC;*/
	
	overflow:hidden;
}
#ytTabs .widget-wrap{
	/*border-right:1px solid #CCCCCC;*/
	border-bottom:1px solid #CCCCCC;
	overflow:hidden;
	width:auto;
}
#ytTabs .widget-wrap div.showlinebottom{
	width:100%;
}
.mootabs_panel.active {
	display: block;
	width:100%;
}

.mootabs_title li.over {
	font-weight: bold;
}
