/*------------------------------------------------------------------------
 # Yt Content Simple Tabs  - Version 1.1
 # Copyright (C) 2011-2012 The YouTech Company. All Rights Reserved.
 # @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Author: The YouTech Company
 # Websites: http://www.ytcvn.com
 -------------------------------------------------------------------------*/
/*them1*/
.yt-content-simpletabs  .tabs li {
	cursor: pointer;
}

.yt-content-simpletabs #page-wrap {margin: 50px auto; }
.yt-content-simpletabs .theme1 .a { text-decoration: none; }
.yt-content-simpletabs .theme1 .h3 { margin: 0 0 10px 0; line-height: 1.5;}
.yt-content-simpletabs .theme1 .tabs { list-style: none; overflow: hidden; border-top:  1px solid #DDDDDD !important; border-left:  1px solid #DDDDDD !important; border-right: none !important;  float:left; position: relative; bottom: -1px; z-index:50  }
.yt-content-simpletabs .theme1 .tabs li { display: inline; background: none!important; border-right: none !important; }
.yt-content-simpletabs .theme1 .tabs li a {float: left; font-weight: bold;  display: block; padding: 4px 8px; background: #eee; text-decoration: none; border-right: 1px solid #DDDDDD!important; border-bottom: 1px solid #DDDDDD!important; }                                        .yt-content-simpletabs .theme1 .box-wrapper {overflow: hidden; float: left}                          
.yt-content-simpletabs .theme1 .tabs li a.current { background: white; position: relative; padding-top: 5px; z-index: 2;  border-bottom: none!important;  }  
.yt-content-simpletabs .theme1 .content-box {overflow: hidden; display: none; text-align: left; background: white; padding: 10px;}
.yt-content-simpletabs .theme1 div .current {display: block !important; overflow: hidden;}
.yt-content-simpletabs .theme1 .col-two, .theme1 .col-three {float: left; position: relative; overflow: hidden; top: 350px; }
.yt-content-simpletabs .theme1 .col-one {width: auto; float: left; position: relative; top: 350px;}
.yt-content-simpletabs .theme1 .col-one { margin-right: 10px; overflow: hidden}
.yt-content-simpletabs .theme1 .col-two { margin-right: 25px}




/*them2*/

.yt-content-simpletabs #page-wrap {margin: 50px auto; }
.yt-content-simpletabs .theme2 .a { text-decoration: none; }
.yt-content-simpletabs .theme2 .h3 { margin: 0 0 10px 0; }


.yt-content-simpletabs .theme2 .tabs {float: left; border-left: 1px solid #DDDDDD!important; border-top:1px solid #DDDDDD!important; border-right:none!important; z-index: 100; position: relative; left: 3px}
.yt-content-simpletabs .theme2 .tabs li {display: inline; background: none!important; border:none!important }
.yt-content-simpletabs .theme2 .tabs li a {font-weight: bold; display: block; padding: 4px 8px; border-bottom: 1px solid #DDDDDD!important; background: #eee; text-decoration: none; border-right: 1px solid #DDDDDD!important;}                                   
.yt-content-simpletabs .theme2 .tabs li a.current {float: left; background: white; position: relative; z-index: 2; border-right: none!important;}

.yt-content-simpletabs .theme2 .box-wrapper {z-index:1; overflow:hidden; border: 1px solid #DDDDDD!important; position:relative;}
.yt-content-simpletabs .theme2 .content-box {overflow: hidden; position: relative; display: none; text-align: left;  padding: 10px; background: white;}
.yt-content-simpletabs .theme2 div .current { display: block !important; border: none!important}

.yt-content-simpletabs .theme2 .col-two, .theme2 .col-three {float: left; position: relative; top: 350px; overflow: hidden}

.yt-content-simpletabs .theme2 .col-one {width: auto; float: left; position: relative; top: 350px;}
.yt-content-simpletabs .theme2 .col-one { margin-right: 10px; overflow: hidden}
.yt-content-simpletabs .theme2 .col-two { margin-right: 25px} 


/*them3*/

.yt-content-simpletabs #page-wrap {margin: 50px auto; }
.yt-content-simpletabs .theme3 .a { text-decoration: none; }
.yt-content-simpletabs .theme3 .h3 { margin: 0 0 10px 0; }

.yt-content-simpletabs .theme3 .tabs { list-style: none; overflow: hidden; padding-left: 2px; margin: 0px; text-align: left; border-top: 1px solid #DDDDDD!important; border-left: none!important; border-right: 1px solid #DDDDDD!important;}
.yt-content-simpletabs .theme3 .tabs li { display: inline; background: none!important; border: none!important }
.yt-content-simpletabs .theme3 .tabs li a {float: left; width: 130px; font-weight: bold; display: block; padding: 4px 8px; border-bottom: 1px solid #DDDDDD!important; border-left: 1px solid #DDDDDD!important; background: #eee; text-decoration: none; right: 1px}
.yt-content-simpletabs .theme3 .tabs li a.current {background: white; position: relative; z-index: 2; border-left: none;}
.yt-content-simpletabs .theme3 .content-box {float: left; border: 1px solid #ccc; position: relative; overflow: hidden; background: white; padding: 10px; display: none; text-align: left; margin-top: 0px; left: 1px}
.yt-content-simpletabs .theme3 .current { display: block !important; }

.yt-content-simpletabs .theme3 .col-two, .theme3 .col-three {float: left; position: relative; overflow: hidden; top: 350px;}
.yt-content-simpletabs .theme3 .col-one {width: auto; float: left; position: relative; top: 350px;}
.yt-content-simpletabs .theme3 .col-one { margin-right: 10px; overflow: hidden}
.yt-content-simpletabs .theme3 .col-two { margin-right: 25px} 

/*them4*/

.yt-content-simpletabs #page-wrap {margin: 10px auto; }
.yt-content-simpletabs .theme4 .a { text-decoration: none; }
.yt-content-simpletabs .theme4 .h3 { margin: 0 0 10px 0; }

.yt-content-simpletabs .theme4 .tabs {float: left; border-left: 1px solid #DDDDDD!important; border-bottom: 1px solid #DDDDDD!important; border-right: none!important; border-top: none!important; position: relative; bottom: 1px }
.yt-content-simpletabs .theme4 .tabs li { display: inline; border: none!important }
.yt-content-simpletabs .theme4 .tabs li a {float: left; font-weight: bold; display: block; padding: 4px 8px; background: #eee;  border-top: 1px solid #DDDDDD!important; border-right: 1px solid #DDDDDD; text-decoration: none; margin-top: 0px;}
.yt-content-simpletabs .theme4 .tabs li a.current {border-top: none!important; background: white; position: relative; z-index: 2;}
.yt-content-simpletabs .theme4 .content-box {float: left; overflow: hidden; top: 20px; left: 20px; display: none; text-align: left; overflow: hidden}
.yt-content-simpletabs .theme4 div .current { display: block !important; background: none!important; overflow: hidden; border: none!important;}                                                                                                    
.yt-content-simpletabs .theme4 .box-wrapper {position: relative; overflow: hidden; border: 1px solid #DDDDDD!important; overflow: hidden}
.yt-content-simpletabs .theme4 .col-two, .theme4 .col-three {float: left; position: relative; top: 350px;}
.yt-content-simpletabs .theme4 .col-one { width: auto; float: left; position: relative; top: 350px; margin-right: 10px; overflow: hidden }
.yt-content-simpletabs .theme4 .col-two { margin-right: 25px} 

.yt-content-simpletabs .col-two h3 a {
	font-size: 15px;
	font-weight: bold;
}



.yt-content-simpletabs .tabs {
  
  background: none!important;
}
.yt-content-simpletabs h3 {
 margin: 0px!important
}

.yt-content-simpletabs a:hover, a:link, a:visited{
text-decoration : none!important;

}
 
.yt-content-simpletabs img{
border : none!important;
}
 
.yt-content-simpletabs .theme2 .articles { line-height: 1.5; list-style-image: url('arrow.png'); }   
.yt-content-simpletabs .theme3 .articles { line-height: 1.5; list-style-image: url('arrow.png'); }   
.yt-content-simpletabs .theme4 .articles { line-height: 1.5; list-style-image: url('arrow.png'); }   
.yt-content-simpletabs .read_more { text-align: right; color: #0CF;} 

.yt-content-simpletabs .arrow {background-image : url('arrow.png'); height: 8px; width: 6px; margin-right: 6px; margin-top: 6px; float: left }   
.yt-content-simpletabs .arrow1 {background-image : url('arrow.png'); height: 8px; width: 6px; margin-right: 6px; margin-top: 4px; float: left }  
.yt-content-simpletabs .articles li {display: inline; line-height: 1.8;} 
.yt-content-simpletabs .arrow_articles {padding-bottom: 5px} 
.yt-content-simpletabs .link_category {float:right;}
.yt-content-simpletabs .link_category a:hover, .yt-content-simpletabs .read_more a:hover{
color: #FF0000!important
} 

.yt-content-simpletabs .article_title {line-height: 1.3; font-size: 1.1em; font-weight: bold; }
.yt-content-simpletabs .article_desc {line-height: 1.8; }
/*.yt-content-simpletabs a:hover, a:link, a:visited{
	background: none!important;
}*/

.yt-content-simpletabs .theme1 {position:relative; overflow: hidden; } 
.yt-content-simpletabs .theme2 {position:relative; overflow: hidden; }      
.yt-content-simpletabs .theme3 {position:relative; overflow: hidden; }      
.yt-content-simpletabs .theme4 {float: left}      
