/**
 * @subpackage  tc_theme13 Template
 */

/* Start Common Styles */
* {	font-family: arial, helvetica, sans-serif;font-size: 12px;color: #5F6565;}

html {height: 100%;margin-bottom: 1px;}
body {margin: 0px;padding: 0px;height: 100%;margin-bottom: 1px;background: #FFFFFF;font-family: arial, helvetica, sans-serif;font-weight: normal;padding-top: 0px;margin-top: 0px;font-size:12px;}
.error {margin-left: auto;margin-right: auto;}
table, td, th, div, pre, blockquote, ul, ol, dl, address,.componentheading,.contentheading,.contentpagetitle,.sectiontableheader,.newsfeedheading {font-family: arial, helvetica, sans-serif;font-weight: normal;}

/*style*/
#error-container {max-width:900px; min-width: 300px;margin:0 auto; padding: 5px;}

#error-type {font-size:200px; color: #999;text-align:center;margin:0;}
#error-message {font-size:60px;text-align:center;margin:0 0 15px 0;}
a									{color:#fc7317;}
#content-left {width:49%;float:left;margin-bottom:20px;}
#content-right {width:49%;float:right;margin-bottom:20px;}
#error-info {clear:both;background:#f7f7f7;padding:15px;}



