@import url("menu.css");
@import url("modules.css");
/*   GENERAL SETTINGS    */
h1, h2, h3, h4, h5, h6{font-weight:lighter; color: #45619d;}
a, a:hover, a:visited, a:focus, .tc_wrapper_top .search form input{ text-decoration:none !important; outline:none;}
.unsupport-ie7{ width:80%; margin:100px auto;}
img{ margin:0px 15px 5px 0px; max-width:100%; height:auto;}
.badge{ display:inline-block !important;}
.pagination{ margin:20px auto; text-align:center;}
.pagination .counter.pull-right{ float:none !important;}
.pagination ul{ margin:0 auto;}
.red, span.star{ color:#f00;}
.tip-wrap{ background:#000;color:#ccc;padding:5px; font-family:Arial, Helvetica, sans-serif;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;opacity:0.8;filter:alpha(opacity=80);z-index:9999; }
.tip-wrap .tip-title{ font-weight:bold;}
.result-created{opacity:0.8; filter:alpha(opacity=80);}
.com_content .item-page{ padding-bottom:20px; display:block;}

tr,tt,u,ul{border:0;margin:0;padding:0;}
blockquote{
margin:10px 0 !important;
padding:0;
font-style:italic;
opacity:0.8;
quotes:none;
border:0;
margin:0;
font-size:100%;
}
.btn{ 
padding:3px 15px;
text-transform:uppercase; 
height:auto; 
border-color:rgba(50,50,50,0.2); 
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
-ms-border-radius:0px;
-o-border-radius:0px;
  }
.btn-primary{ border:0;}
.btn-link{ border-color:transparent;}

a.readon.btn-primary, .readmore a.btn-primary{text-transform:none;}

blockquote span.open{
background:url(../images/so-q.png) left top no-repeat;
padding:5px 0 0px 30px;
 opacity:0.4;
 filter:alpha(opacity=40);
}
blockquote span.close_soq{
background:url(../images/sc-q.png) right bottom no-repeat;
padding:0px 30px 5px 0px;
 opacity:0.4;
 filter:alpha(opacity=40);
}
.blockquote {
margin:15px 0px;
}

.tc_aside{padding:10px 0 10px 0;}
#tc_logo{display: initial;float:left;height:50px; background-position:10px !important; position:relative;  margin-top:7px;width:100%; background:url(../images/logo.png) left 0 no-repeat;}
.Logo.tc_block:before {
  background-position:0 0 !important;
    content: "";
    height:200px;
    left:0px;
    position: absolute;
    right: auto;
    top:0px;
    width:300px;
  z-index:9;
}

.com_content.opt-featured .Logo.tc_block:before{ height:206px;}
#tc_wrapper{ position:relative;}
.tc_wrapper_top,.tc_wrapper_header{ position:relative; width:100%; }
.tc_wrapper_header{ z-index:999;
background-color: #fafafa rgb(255, 255, 255);
    background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(235, 235, 235));
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
  background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
  background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
  box-shadow:0px 1px 5px grey;
  -moz-box-shadow:0px 1px 5px rgba(0,0,0,0.7);
  -webkit-box-shadow:0px 1px 5px rgba(0,0,0,0.7)}
#tc_main_inside{ padding:10px 0px;}
.featured #tc_main_inside{ padding:0px;}
.featured #tc_main_inside .tc_component{ min-height:0;}
.tc_wrapper_top #tc_top{ position:relative;}
.tc_wrapper_footer,.tc_wrapper_copyright{ position:relative; z-index:9;}
.tc_wrapper_info.tc_section{ position:relative;}

.tc_wrapper_top .tc_block { padding-left:0px !important; padding-right:0px !important;}

.tc_wrapper_bottom{  background-color:#222; color:#999;}
.tc_wrapper_footer{ background-color:#f1f1f1; padding-top:5px !important; text-shadow: 1px 1px #fffff; box-shadow : 1px 0px 5px; }
.tc_wrapper_copyright { background-color:#f1f1f1; color: #45619d; text-shadow: 1px 1px #ffffff;}
.tc_info .tc_moduletable{ margin-bottom:0;}
.tc_wrapper_top .tc_moduletable, .tc_moduletable.features_overview{ margin-bottom:0px; position:relative;}
#tc_footer .tc_moduletable{ padding:30px 0px;}
#tc_footer .copyright .tc_moduletable{ padding:20px 0px 0px;}
#tc_br{ background:none; padding:0px;}
.separator_br{ font-size:36px;}
.ie9 .gradient {filter: none !important;}
.btn .fa-angle-right{ padding-left:10px; }
.fa-angle-right, .fa-angle-up{font-size:14px;}
.page-header{border-bottom-width:3px; border-bottom-style:double; padding-bottom:0;}
.blog .page-header{margin:10px 0px 0px;}
.blog .items-row .page-header{border-bottom:none;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {color: #ffffff;  opacity:0.8 !important;filter:alpha(opacity=80) !important;}
.span12.separator_info, .separator_info:first-child, .span8.separator_info{ margin-left:0px !important;}
#tc_br .tc_moduletable, #tc_lb .tc_moduletable {
  padding:15px 20px;  
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius:0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   border-color: #dddddd;      
}
.icon-plus{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  

.icon-plus:before {
  content: "\e019";
}

.tc-mod-date .creat_date{ display:none;}
.btn.btn-primary{
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #fff;
}
.btn.btn-primary:after,#comment-form .btn.btn-primary:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  box-sizing: content-box;
}
.btn.btn-primary,#comment-form .btn.btn-primary{
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.btn.btn-primary:after,#comment-form .btn.btn-primary:after  {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  -ms-border-radius:0px;
  -o-border-radius:0px;
}
.btn.btn-primary,#comment-form .btn.btn-primary{background:none;}
.btn.btn-primary:hover:after, #comment-form .btn.btn-primary:after  {
  opacity:0 !important; filter:alpha(opacity=0) !important;
}
.ie8 .btn.btn-primary:hover:after,.ie8 #comment-form .btn.btn-primary:after { background:none !important;}

h3.panel-header.item-title{ padding-bottom:40px; position:relative;}
.page-header a.btn-mini,
h3.panel-header.item-title .btn.btn-mini{ 
border-radius:100%; 
-moz-border-radius:100%; 
-ms-border-radius:100%; 
-o-border-radius:100%;
-webkit-border-radius:100%;
height: 20px;
padding: 4px 0 0;
position: absolute;
right:0px;
top:20px;
width: 20px;
}
.page-header a.btn-mini{ top:-15px;}
.navbar-default a.modal_jform_contenthistory{ margin-top:23px; float:left;}
.content_vote .btn.btn-mini{ margin-top:0px;}
.content_vote select { height:auto;}
.item-page .form-inline{ margin-bottom:10px;}
#tc_br .tc_moduletable h3, #tc_lb .tc_moduletable h3{ margin-top:0px;}
fieldset{border:1px solid #eee; padding:15px; margin:10px 0 !important; display:block; border-radius:0px; -moz-border-radius:0px;
-ms-border-radius:0px; -o-border-radius:0px;-webkit-border-radius:0px;}
.fa-angle-double-right{ font-size:14px;}
.logo-0 #tc_logo img{ display:none;}
.logo-1 #tc_logo, .logo-2 #tc_logo{background:none !important;}
.tc_section{ padding: 0px;}
.tc_wrapper_top.tc_section{position:relative; margin:0px;padding: 0px;}
.tc_wrapper_info.tc_section, 
.tc_wrapper_footer.tc_section, 
.tc_wrapper_maintop.tc_section,
.tc_wrapper_adverts.tc_section,
.tc_wrapper_feature.tc_section,
.tc_wrapper_mainbottom.tc_section,
.tc_wrapper_bottom.tc_section,
.tc_wrapper_copyright.tc_section{ padding-top:5px;}

/*  edit - */
.tc_wrapper_bottom.tc_section {
  background: #ffffff !important;

}

.tc_bottom{
margin-bottom: 10px;
padding: 10px 10px;

}
.tc_maintop, .tc_bottom {

}
.tc_wrapper_maintop
{ text-shadow: 1px 1px #ffffff;
}

.tc_wrapper_adverts.tc_section
   { text-shadow: 1px 1px #ffffff;
  background: #f1f1f1 !important;
  background-color: #f1f1f1 !important ;
 }
  

.tc_wrapper_header.tc_section{ padding-top:0px;} 

/*  top - */
.tc_wrapper_top { background:#ffffff; color: #000; margin: 0px; padding: 0px;}

.com_content.opt-featured .tc_main{ min-height:0;}


/*  Footer - */
#tc_footer .form-inline .form-control {display: inline-block; width:58%; }
#tc_footer .form-inline button.btn{ font-size:18px; height:38px !important; margin-left:5px; margin-top:0px; line-height:normal;}
#tc_footer .form-inline .form-control, #tc_footer .form-inline button.btn{
  height:40px;
  padding:6px 15px;
  border:0;
}
#tc_footer .form-inline button.btn{ font-size:14px; text-transform:uppercase;}

.tc_wrapper_footer ul.latestnews{ list-style:none; margin:0; padding:0;}
.tc_wrapper_footer ul.latestnews li{ list-style:none; display:block; padding:7px 0px;}
.tc_wrapper_footer ul.latestnews li a, .tc_wrapper_footer ul.latestnews li a .fa-angle-double-right{ color:#999;}
.tc_wrapper_footer ul.latestnews li a .fa-angle-double-right{ padding-right:5px;}
.tc_wrapper_footer ul.latestnews li a .fa-angle-right{ padding:0px 5px 0px 0px;}
.copyright .tc_moduletable{ padding-top:20px; border-top:1px solid #444; color:#666;}
.tc_moduletable.copyright a{ color:#666;}


/*  Gotop- */
.tc_wrapper_copyright .container{ position:relative; }
#scrollToTop {
  cursor: pointer;
  font-size: 0.9em;
  position: fixed;
  text-align: center;
  z-index: 9999;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background: #121212;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  right: 30px; bottom: 30px;
}

#scrollToTop:hover {
  background: #f1f1f1;
  color: #333;
}
/*  Com content  */

.article-info, .content_rating{ color:#999; margin-bottom:10px; font-size:95%;}
.article-info .published{ margin-left:0px;}
.article-info .article-info-term{ display:none !important;}
.article-info  dd{ display:inline-block; padding-right:10px;}
.categories-list dl dt, .categories-list dl dd{ display:inline-block;}

.icons .dropdown-toggle .caret{ display:none !important;}
.icons .btn-group {display:block !important;}
.icons a.dropdown-toggle {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}
.icons .dropdown-menu > li > a{ clear:none; display:inline-block; float:left;}
.icons .dropdown-toggle .icon-cog {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  width: 1em;
  display:block !important;
}
.icons .dropdown-toggle .icon-cog:before {
  content: "\e019";
}
/* Articles */
.edpag  ul{
  list-style-type: none; float: right;
  overflow: hidden;
  position: relative;
  margin: 3px 0;
}
.edpag li {
  float: left;
  padding: 3px;
  font-size: 12px;
  line-height: 1;
}

article header ul {
  overflow: hidden;
  position: relative;
  margin: 6px 0;
}
article header li {
  float: left;
  padding: 6px;
  font-size: 12px;
  line-height: 1;
}

article header > ul > li:after {
  content: '|  ';
  white-space: pre;
  color: #b6b6b6;
  position: relative;
  left: 8px;
}
article header li:last-child:after {
  content: '';
}
li.print-icon,
li.email-icon {
  padding: 0 6px 10px 6px;
  line-height:2;
} 
li.print-icon a,
li.email-icon a {
  position: relative;
  top: 3px;
}
li.print-icon a {
  background: url(../images/system/printButton.png) top left no-repeat;
  width:16px;
  height:16px;
  text-indent:-9999px;
  float:left;
  margin:3px 3px 0 0;
}
li.email-icon a {
  background: url(../images/system/emailButton.png) top left no-repeat;
  width:16px;
  height:16px;
  text-indent:-9999px;
  float:left;
  margin:3px 3px 0 0;
}

article header li a:hover {
  color: #222;
}
article header + div,
article header + p {
  clear: both;
}

.item-page ul {
  list-style-type: none;
}
.content-links {
  margin-bottom: 20px;
}

#searchForm .btn.btn-primary{ margin-top:0px; margin-left:5px;}
#search-word { display: none;} 
/*  blog  */
.blog .items-row  .item{ padding-bottom:10px;}
.blog .items-row  .item img{ width:35%; height:auto;}
.item-separator{ display:block; clear:both;}
a.readmore{ font-size:12px; text-transform:uppercase;}

/*  Module Menu  */
ul.tc-menu > li{display:none;}
ul.menu, ul.menu li, ul.weblinks ul.weblinks li{ list-style:none;}
ul.menu, ul.weblinks{ margin-left:0px; padding:0; margin-bottom:10px;}
ul.menu ul, ul.weblinks ul { padding-top:10px;}
ul.menu li, ul.weblinks li{ padding:10px 0px; border-bottom:1px outset #f1f1f1; display:block;}
ul.menu ul li, ul.weblinks ul li{border-top:1px inset #f1f1f1; border-bottom:0px; }
ul.menu ul li:last-child, ul.weblinks ul li:last-child{ padding-bottom:0px;}
ul.menu li .fa-angle-right, ul.weblinks li .fa-angle-right{ padding-left:0px;}
ul.menu li a .fa, ul.weblinks li a .fa, 
ul.menu li.active.parent a .fa, 
ul.menu li.parent li a .fa, 
ul.menu li.active ul li a .fa,  
ul.menu li.active.current li a .fa,
ul.menu li a, ul.weblinks li a, 
ul.menu li.active.parent a, 
ul.menu li.parent li a, 
ul.menu li.active ul li a,  
ul.menu li.active.current li a{ background:none !important; padding:0px;}

.tc_wrapper_bottom ul.menu li, .tc_wrapper_bottom ul.weblinks li{ padding:6px 0px; border-bottom:1px solid #444; display:block;}

/*  Category List  */
table.category a{ color:#666; display:inline-block !important;}
.category-list .filter-search{ width:80%; float:left;}
.category-list .display-limit{ width:20%; float:right;}
input, button, select, textarea {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius:0px;
   /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; */
    color: #555555;
    display:inline-block;
    font-size: 14px;
    line-height:normal;
    padding:8px 15px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}
#contact-form textarea{ width:80%; height:auto;}
#contact-form input[type="text"], #contact-form input[type="email"]{ width:80%;}
input[type="checkbox"], input[type="radio"]{ height:auto; margin:4px 5px;}
#contact-form input[type="checkbox"]{ float:left; margin-right:10px;}

/*  Com User  */
legend {background:#FFFFFF;border: 0 none;padding: 0 10px; margin-bottom:0px;width:auto; font-size:14px; font-style:italic; color:#666;}
.login ul.login{ list-style:none; margin:0; padding:0;}
.login ul.login li{ list-style:none; padding:3px 0px;}
.login ul.login li .fa-angle-right{ font-size:14px;}
.login ul.login li a, .login ul.login li a .fa{ color:#666;}
.registration #member-registration dt{ width:30%; display:inline-block;}
.registration #member-registration dd{ width:65%; display:inline-block;}
.registration #member-registration dt,.registration #member-registration dd{ padding-bottom:10px;}
.registration #member-registration dt .spacer{ margin-bottom:20px; display:block;}
.subheading-category {
    font-style: italic;
    font-weight:normal;
  display:block;
}
.form-group .spacer{ padding-left:15px;}
.form-group .spacer label { font-weight:normal;}
.form-group label,.form-group label#jform_contact_email_copy-lbl{ display:inline-block !important;}


/*  Com Contact  */
.contact .pane-sliders .panel, #slide-contact .accordion-group{
  margin-bottom:5px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 0px;

     -moz-border-radius: 0px;
          border-radius: 0px;
      clear:both;
}
.contact .pane-sliders .panel h3{margin:2px;}
#contact-slider .pane-down{ border-top:1px solid #ddd !important;}
.contact .pane-sliders .panel h3 a{ color:#666; display:block;  padding:7px 10px;}
.pane-slider.pane-down{padding:15px !important;}
.contact .pane-sliders .contact-image{ display:block; padding:20px 0px;}
.contact-position{ font-weight:bold;display:block;padding-bottom:10px;}
.pane-toggler{border-bottom: 0 none;}
.contact .pane-sliders .jicons-icons{ display:inline-block; float:left;}
.contact .contact-form fieldset{ border:0; padding:0 15px;}
.contact .contact-form fieldset legend{ padding:0px 0px 20px;}

#slide-contact .accordion-group .accordion-inner{ padding-top:20px;}
#slide-contact .accordion-group .thumbnail{ margin:15px; border:0px;}
#slide-contact .accordion-group .accordion-toggle{ display:block; padding:10px; font-size:180%; font-weight:normal;}
#slide-contact .accordion-group .accordion-body.in{ border-top:1px solid #e5e5e5;}



/*  Table  */

.category {
  width: 100%;
  margin-bottom: 10px;
}
.list-condensed{ list-style:none; margin:0; padding:0; border:1px solid #ddd;}

.list-condensed li,
.category > thead > tr > th,
.category > tbody > tr > th,
.category > tfoot > tr > th,
.category > thead > tr > td,
.category > tbody > tr > td,
.category > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.category > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.list-condensed li:first-child,
.category > caption + thead > tr:first-child > th,
.category > colgroup + thead > tr:first-child > th,
.category > thead:first-child > tr:first-child > th,
.category > caption + thead > tr:first-child > td,
.category > colgroup + thead > tr:first-child > td,
.category > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.category > tbody + tbody {
  border-top: 2px solid #dddddd;
}

.category .category {
  background-color: #ffffff;
  margin:0;
  padding:0;
  list-style:none;
}
.category a.category {
  color:#666;
  background-color: #ccc;
  border-radius:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  padding:2px 10px;
}
.category a.btn{ color:#fff;}

.list-condensed .cat-list-row0,
.category > tbody > tr:nth-child(odd) > td,
.category > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.list-condensed .cat-list-row1,
.category > tbody > tr:hover > td,
.category > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.categories-list h3.item-title{ border:0px; position:relative;}
.list-condensed li .list-title a{ color:#666; font-weight:bold;}


/*    Action    */
.btn-group.actions{display:inline-block !important;}
.actions li img,.content_rating img,.article-info img,
.actions li.edit-icon img{ width:auto !important; margin:0; padding:0;}
.edit.item-page .formelm, .edit.item-page .formelm-buttons{ display:block; margin-bottom:10px;}
.edit.item-page .formelm-buttons{ margin-left:160px;}
.edit.item-page .formelm-buttons button { margin-right:10px;}
.edit.item-page #adminForm textarea { clear:both;display:block;}
#editor-xtd-buttons, .toggle-editor{ display:inline-block;}
#editor-xtd-buttons .button2-left, .toggle-editor .button2-left{ display:inline-block; padding:2px 5px; border:1px solid #ddd; margin-top:10px;}
.edit.item-page .formelm-area{ margin-bottom:20px;}
.edit.item-page .formelm label { width:160px;}
.actions{ list-style:none; float:right; display:inline-block; text-align:right;}
.actions li{ display:inline-block; list-style:none; padding:0px;}
.tc_category_creat dd{
  background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DDDDDD;
    color: #999999;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

.pagenav{ float:left; padding:0;}
.pagenav > li {
  float: left;
  margin-bottom: -1px;
  list-style:none;
}

.pagenav > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border:0px 1px solid transparent;
  border-radius:0;
  text-transform:uppercase;
}
.pagenav > li.next { margin-left:10px;}

.pagenav > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.pagenav > li.active > a,
.pagenav > li.active > a:hover,
.pagenav > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}
  

/*    Massages   */
.invalid{
    border-color: #A94442;
  color: #A94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}


/*  Item More  -------------------------------------------------------------- */
.items-more{ display:block; padding:20px 0px;}
.pagination ul.pagination{ clear:both; display:block;}

/*  weblink  -------------------------------------------------------------- */

.weblink-category .weblink-count dt,.weblink-category .weblink-count dd{ display:inline-block;}

/* print.css */
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;}
a img {border:none;}
p img.top {margin-top:0;}
.small {font-size:.9em;}
.large {font-size:1.1em;}
.quiet {color:#999;}
.hide {display:none;}
#mailto-window {padding:10px}
.mailto-close {position:absolute;top:10px;right:10px}
#mailto-window  .formelm label {font-size:13px; display:block}
#mailto-window h2 {font-size:14px}
#mailto-window .button {float:left;margin:0 5px 0 0}
/*
// #Tabs
// --------------------------------------------------
*/
.tab .nav-tabs > li > a {
  background: #f7f7f7;
  margin-right: 2px;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  border-bottom: none !important;
  border-radius: 0;
  padding: 10px 20px;
  color: #6d6d6d;
  position: relative;
}
.tab .nav-tabs > li > a:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 3px;
}
.tab .nav-tabs > li > a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
}
.tab .nav-tabs > li > a:hover {
  border-color: #f7f7f7;
}
.tab .nav-tabs > li > a .fa {
  margin-right: 4px;
}
.tab .nav-tabs > li.active > a {
  color: #888;
  border-left-color: #dcdcdc;
  border-right-color: #dcdcdc;
  background: #fff;
}
.tab .nav-tabs > li.active > a:after {
  background: #888;
}
.tab .nav-tabs > li.active > a:before {
  background: #fff;
}
.tab .nav-tabs > li.active > a:hover {
  border-bottom-color: #fff;
}
.tab .tab-content {
  padding: 20px;
  border: 1px solid #dcdcdc;
  background: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
}
.tab .tab-content:before,
.tab .tab-content:after {
  content: " ";
  display: table;
}
.tab .tab-content:after {
  clear: both;
}
.tab .tab-content p:last-child {
  margin-bottom: 0;
}
/*
// #Accordion
*/
.accordion-heading {
  font-size: 13px !important;
  font-family: 'Muli', sans-serif;
  line-height: 1.5em;
  text-transform: none;
  padding: 0;
}
.accordion-heading > a {
  display: block;
  padding: 12px 18px 12px 12px !important;
  color: #222;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

.accordion-heading > a.collapsed {
  color: #6d6d6d;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
}

.accordion-heading > a.collapsed:hover {
  background: #ececec;
  text-decoration: none;
}
.accordion-heading > a:hover {
  text-decoration: none;
}
.accordion-inner {
  padding: 14px 20px;
  background: #fff;
}
/*  extra styles modification -------------------------------------------------------------- */

.fontawesome-icon-list [class*="col-md-"] {
  margin-bottom: 10px;
}
.fontawesome-icon-list .fa {
  width: 32px;
  text-align: right;
  font-size: 14px;
  margin-right: 10px;
}

#nl-name, #nl-email {width: 100%; margin-bottom: 3px;}
.bt-row .readmore {
  font-size: 0.9em;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background: #121212;
  color: #ffffff;
  border-radius: 3px;
  padding: 3px 8px;
  width: 80px;
}

.slide-inner {
  text-align: center;
}
.slide-inner .slide-item-title{
  font-size: 180%;
  text-transform: uppercase;
}
.slide-inner .slide-item-desc{
  font-size: 110% !important;
    font-style: italic;
  
}
.slide-inner .slide-item-readmore a{
  color: #333 !important;
}

.catebase {
background-color: transparent;

background-image: url("http://3ce.vn/images/home/catmenutop.gif");

background-repeat: no-repeat;

background-attachment: scroll;

background-position: 0px 0px;

background-clip: border-box;

background-origin: padding-box;

background-size: auto auto;

padding-left: 20px;

font-weight: bold;

}

.mod-languages{box-sizing: initial; float: right; margin-top: 15px;}
.tc_wrapper_footer {text-shadow: 1px 1px #ffffff;}

input.gsc-search-button, .gsc-input, .gsc-input-box {
box-sizing: initial;
}

.gsc-input-box { margin-top: 2px;}

  .gsc-control-cse {
    background-color: #f1f1f1 !important;
      border-color: #f1f1f1 !important;

  }


