.widget-wrap h4 {
	background: #0088B3;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-shadow: #333333 1px 1px;
	text-transform: uppercase;
	margin: 0;
	padding: 2px 5px 1px 8px;
}

.widget-wrap .post {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.widget-wrap .showlinebottom{
	border-bottom: 1px solid #e5e5e5;
	margin:5px 0;
}
.widget-wrap .last-item{
	border-bottom:none !important;
}
.widget-wrap .first-item{
	padding-top:5px;
}
.widget-wrap .showlinebottom .post-inner{
	padding:0 10px;
}	
.widget-wrap .alignleft {
	float: left;
	margin: 0 12px 0 0;
}
.basic-date{
	color:#c8c7c7; font-weight:bold;
}


.widget-wrap .alignright {
	float: right;
	margin: 0 0 0 10px;
}



.widget-wrap .wp-caption {
	background: #F7F7F7;
	text-align: center;
	padding: 5px 0 0 1px;
	border: 1px solid #dedede;
}
	
	
.widget-wrap h2 a, .widget-wrap h2 {
	color: #386073;
	font-size: 100%;
	font-weight: bold;
	margin: 0 0 3px 0;
}


.widget-wrap .post p {
	margin: 0;
	padding: 0 0 5px 0;
}


.widget-wrap img {
	margin: 4px 0 5px 0;
}
