.responsive.modfytslider{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

.responsive .sliderwrapper{
	height: 100%;
	position: relative;
	overflow: hidden;
	padding: 1%;
}

.responsive.modfytslider .sliderwrapper{
	padding-bottom: 56.25%;
}

.responsive .sliderwrapper .contentdiv{
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 96%; 
	padding: 1%;
	margin:1%;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	filter:0;
}

.responsive .fyts-videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0; overflow: hidden;
}

.responsive .fyts-videoWrapper iframe,
.responsive .fyts-videoWrapper object,
.responsive .fyts-videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
	
.responsive .paginationfytslide{
	width: 100%;
	padding-top:5px;
	margin-top: 5px;
}

.responsive .paginationfytslide a img,
.responsive .paginationfytslide a:visited img{
	text-decoration: none;
	margin-bottom: 5px;
}

.responsive .paginationfytslide a:hover img, 
.responsive .paginationfytslide a.selected img{
	text-decoration: none;
}

.responsive .paginationfytslide-inner a img,
.responsive .paginationfytslide-inner img{
	padding:1%;
}

@media screen and (max-width: 377px){
	.responsive .paginationfytslide-inner a img,
	.responsive .paginationfytslide-inner img{
		width:46%!important;
	}
}