* html div

#fl813691 {position: absolute; overflow:hidden; 
top:100px;}
#adsbox{height:auto; } 
#fl813691{font: 12px Arial, Helvetica, sans-serif; color:#666; position:fixed;  right: 0px; bottom: 0px;  border-top: solid 1px #D1D1D1;border-right: solid 1px #D1D1D1;border-left: solid 1px #D1D1D1;border-radius: 5px 5px 0 0;padding: 2px;background: #000; height:342px;z-index: 10000} 
#eb951855{} 
#cob263512{} 
#coh963846{color:#690;display:block; height: 15px; line-height:20px; font-size:11px; padding: 0px 0px 0px 5px;} 
#coh963846 a{color:#690;text-decoration:none;} 
#coc67178{float:right; padding:0; margin:0; list-style:none; overflow:hidden; height:15px;} 
#coc67178 li{display:inline;} 
#coc67178 li a{background-image:url(../images/closebutton.gif); background-repeat:no-repeat; width:30px; height:0; padding-top: 15px; overflow:hidden; float:left;} 
#coc67178 li a.close{background-position: 0 0;} 
#coc67178 li a.close:hover{background-position: 0 -15px;} 
#coc67178 li a.min{background-position: -30px 0px;} 
#coc67178 li a.min:hover{background-position: -30px -15px;} 
#coc67178 li a.max{background-position: -60px 0;} 
#coc67178 li a.max:hover{background-position: -60px -15px;} 
#co453569{display:block;  padding:0; height: auto; border-style:solid; border-width:1px; border-color: #414141; line-height: 1.6em; border-radius: 5px;margin: 5px;}

.image {
margin: 3px;
}