.yt_frontpage{
    /*height: auto;*/
    background-color:#FFFFFF; 
    position: relative; 
    overflow: hidden;
    /*border: 1px #f1eff0 solid;*/
   /* background: #f1eff0;*/
}
.yt_frontpage a :hover{
   text-decoration: underline;
}
 /*Style for theme 2*/
.yt_frontpage div.normal_frontpage_theme2{
    /*background: #f1eff0;*/
     position: relative; 
     overflow: hidden;
}
.yt_frontpage .normal_yt{
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.yt_frontpage div.normal_frontpage_theme2 ul {
    /*font-weight: bold;*/
    list-style-type: none; 
    overflow: hidden;
    position: relative;
    padding-left: 5px;   
}
.yt_frontpage .normal_frontpage_theme2 .normal_items_theme2{
    position: relative; 
    overflow: hidden; 
    margin-top: 0px;
}
.yt_frontpage div.normal_frontpage_theme2 ul li{
    /*padding-top: 7px;*/
    border-bottom: 1px #f1eff0 solid;
	padding: 7px 7px 7px 15px;	
	background:url("list-style.png") no-repeat left 10px;
	
}
.yt_frontpage div.normal_frontpage_theme2 ul.normal_items_theme2 li div.normal_title_theme2 a{
    color: #1f1f1f;
    font-weight: bold;
}
.yt_frontpage .main_content_theme2{
    border: 0px #FF8000 solid;
    position: relative;
    /*padding-top: 10px;*/
    padding-left: 5px;
}
.yt_frontpage .main_content_theme2 h3{
    color: #1f1f1f;
}
.yt_frontpage .main_content_theme2 p{
    text-align: right;
    padding-right: 5px;

}
.yt_frontpage .main_content_theme2 p a{
    text-align: right;
    padding-right: 15px;
    color: #135CAE;
}
.yt_frontpage .main_content_theme2 p a:hover{
    color: #FF8000;
}
.yt_frontpage .main_content_theme2 p a:visited{
    text-decoration: none;
}
.yt_frontpage .main_content_theme2 span{
    color: #010000;
    padding-right: 5px;
    line-height: 20px;

}
.yt_frontpage ul.normal_content_theme4{
    margin-left:0px;
    background-color:#FFFFFF; 
}
.yt_frontpage ul.normal_content_theme4 li ul{
    margin-left:0px;
    list-style:none; 
}
.yt_frontpage .normal_items_theme4{ 
    border-bottom: 1px solid #F1EFF0; 
    line-height: 25px; 
    padding-right: 20px;
    padding-top: 5px;
}

.yt_frontpage .normal_frontpage_theme4 ul.normal_content_theme4 li ul.normal_content_accor{
    list-style: none !important; 
    padding: 5px 5px 2px 0px;
    margin-left: 5px;
    overflow: hidden;
}
.yt_frontpage .normal_frontpage_theme4 ul.normal_content_theme4 li ul.normal_content_accor li.normal_desc_theme4{
     position: relative; 
     overflow: hidden;
     padding-left: 10px; 
     padding-right: 10px; 
     list-style: none !important;
}