div.jvbanner_7 {
	position: fixed;
	bottom:-1px;
	float:right;
	right:1px;
	background:#DFDFDF;
	z-index: 9;
}
div.jvbanner_7 ul.element {
	float:right;
	height:23px;
	margin:0;
	right:0;
	width:70px;
	padding:0px !important;
}
div.jvbanner_7 li.toggler {
	background: url(../images/open.png) no-repeat;
	list-style: none;
	float: right;
	color:red;
	font-weight:bold;
	height:24px;
	margin:6px 0px 0 0;
	cursor: pointer;
	width: 17px;
}
div.showbanner {
	display: inline-block;
}
div.jvbanner_7 li.close {
	background: url(../images/close.png) no-repeat;
	list-style: none;
	float: right;
	color:red;
	font-weight:bold;
	margin:4px 0px 0 0;
	height:23px;
	cursor: pointer;
	width: 17px;
}
div.jvbanner_7 li.close:hover { 
	background:url(../images/close_hover.png) no-repeat;
	margin:6px 0px 0 0;
	height:24px;
}
div.jvbanner_7 li.toggler:hover {
	background:url(../images/open_hover.png) no-repeat;
	margin:5px 0px 0 0;
	height:23px;
}
div.jvbanner_7 li.toggler:active {
	background:url(../images/open_hover.png) no-repeat;
	margin:5px 0px 0 0;
	height:23px;
}
.bannerheader {
	float:left;
	width: 100%;
	overflow: hidden;
}
.text_scroll {
	width:240px;
	
	font-weight:bold;
	font-family: "Trebuchet MS",Trebuchet,"Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
	
}
.item_banner_7 {
	overflow: hidden;
}
img.jv_banner {
	float: left;
}
.jv_marguee_7 {
	float:left;
	font-family:"Trebuchet MS",Trebuchet,"Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
	height:23px;
	text-shadow: 0 1px 0 #FFF;
	margin: 2px 0 0 8px !important;
}
.ul_element {
	float:right;
}


