div.jvbanner_1 {
	position: fixed;
	top:0;
	left:0;
	background-color: #DFDFDF;
	z-index: 9;
}
div.item_banner_1 {
	height: 24px;
	line-height: 24px;
}
div.showbanner {
	display: inline-block;
}
div.jvbanner_1 div.item_banner_1 div.ul_element {
	margin-right: 5px;
}
.jv_marguee_1 {
	float:left;
	font-family:"Trebuchet MS",Trebuchet,"Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
	height:20px;
	text-shadow: 0 1px 0 #FFF;
	width :auto;
}
div.jvbanner_1 div.ul_element ul, div.jvbanner_1 div.ul_element ul li {
	margin:0;
	padding:0;
}
div.jvbanner_1 div.ul_element ul {
	float:right;
}
div.jvbanner_1 div.ul_element ul li {
	display: inline-block;
	cursor: pointer;
	width: 14px;
	height: 24px;
	text-indent: 5000px;
	float: left;
}
div.jvbanner_1 div.ul_element ul li.toggler {
	background: url(../images/open.png) no-repeat 50%;
}
div.jvbanner_1 div.ul_element ul li.close {
	background: url(../images/close.png) no-repeat 50%;
}
div.jvbanner_1 div.ul_element ul li.toggler:hover {
	background: url(../images/open_hover.png) no-repeat 50%;
}
div.jvbanner_1 div.ul_element ul li.close:hover {
	background: url(../images/close_hover.png) no-repeat 50%;
}