div.jvbanner_2 {
	position: fixed;
	top: 0px;
	float: right;
	left:1px; 
	z-index: 999;
}
div.jvbanner_2 ul {
	float:right;
	height:70px;
	margin:0;
	right:0;
	width:23px;
	padding:0px;
}
div#showbanner_2 {
	display: inline-block;	
	background:#DFDFDF;
}
div.jvbanner_2 li.toggler {
	background: url(../images/open.png) no-repeat;
	list-style: none;
	float: right;
	color:red;
	font-weight:bold;
	height:24px;
	margin:5px 0px 0 0;
	cursor: pointer;
	width: 15px;
}
div.jvbanner_2 li.close {
	background: url(../images/close.png) no-repeat;
	list-style: none;
	float: right;
	color:red;
	font-weight:bold;
	margin:3px 0px 0 0;
	height:15px;
	cursor: pointer;
	width: 15px;
}
div.jvbanner_2 li.close:hover { 
	background:url(../images/close_hover.png) no-repeat;
	margin:4px 0px 0 0;
	height:14px;
}
div.jvbanner_2 li.toggler:hover {
	background:url(../images/open_hover.png) no-repeat;
	margin:5px 0px 0 0;
	height:23px;
}
div.jvbanner_2 li.toggler:active {
	background:url(../images/open_hover.png) no-repeat;
	margin:5px 0px 0 0;
	height:23px;
}
.bannerheader_2 {
	float: left;
	width: 23px;
	overflow: hidden;
	background:#DFDFDF;
}
.text_scroll {
	width:240px;	
	font-weight:bold;
	font-family: "Trebuchet MS",Trebuchet,"Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
	
}
.item_banner_2 {
	overflow: hidden;
}
img.jv_banner {
	float: left;
}
.jv_marguee_2  {
	float:left;
	font-family:"Trebuchet MS",Trebuchet,"Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
	height:20px;
	text-shadow: 0 1px 0 #FFF;
	margin: 0px 3px 0 0px !important;
	position: relative;
	bottom: 0px;
	line-height: 20px;
}
.ul_element {
	float:right;
}
#showbanner_2 {
	float:left;
}

