#jvFloatRight{
	 z-index: 9999;
	 position: relative; 
	 margin-right: 2px;
	 float: left !important;
	 left: 0px !important; 
}
#jvFloatLeft{
	 z-index: 9999;
	 position: relative;
	 margin-left: 2px; 
}
.arounddiv {
	display:block;
	top:0;
	left: 1px;
	z-index:9999;
	overflow: hidden;
	position: absolute;
}
.arounddivright {
	display:block;
	top:0;
	right: 0px;
	z-index:9999;
	overflow: hidden;
	position: absolute;
	margin: 0 2px 0 0;
}
.jvScroll {
	position: absolute !important;
	bottom: 0;
}
.stopLeft {
	position: absolute;
	bottom: 0px !important;
}