.bd-accordion{
    background: #222222;
}
.yt-accordion {
    margin: 20px 10px;
}

h3.yt-toggler {
    cursor: pointer;
    border-bottom: 1px dotted #555555;
    font-family: 'Andale Mono', sans-serif;
    font-size: 14px;
    background: #efefef;
    color: #FFFFFF;
    margin: 0 0 0px 0 !important;
    padding: 8px 10px 8px 10px;
    background: url(arrow_closed.png) no-repeat scroll left center transparent;
}
h3.open{
    background: url(arrow_open.png) no-repeat scroll left center transparent;
}
h3.yt-toggler span{
    padding-left:10px;
}
h3.yt-toggler.active {
    color: #000000;
}



h3.yt-toggler:focus {
	outline:none;
    border: 2px dotted #cc0000;	
    margin: -1px -1px 3px -1px;
}

div.yt-element p, div.yt-element h4 {
    margin: 0px;
    padding: 4px;
}

blockquote {
    padding: 5px 20px;
}
.yt-accordion-image{
    margin:0.75em 1em 1em;
}
.yt-accordion-content{
    margin:0.75em 0 1em;
    color:#FFFFFF;
    text-align: left;
}
.yt-accordion-image{
    float:left;
}
.yt-accordion-content .yt-accordion-readmore a{
    text-decoration: none;
    color:#FFFFFF !important;
    font-weight: bold;
}